body
{
   margin: 0 auto;
   max-width: 800px;
}

table, th, td
{
   border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
   width: 100%;
}

/* Red leader, this is Gold Leader. */
td:nth-child(1)
{
   background-color: gold;
}

/* I copy Gold Leader */
td:last-child
{
   background-color: red;
}
   